.App {
  background-color: rgba(185, 226, 252, 0.719);
  position: relative;
}
.App::before {
  content : "";
  position: absolute;
  right : 0 ;
  top : 0 ;
  width: 48%;
  height: 540px;
  z-index: -1;
  background-color: rgb(4, 163, 236); ;
}